<script setup lang="ts">
import MenuCardVue from "./MenuCard.vue";
</script>

<template>
  <v-row>
    <v-col>Order</v-col>
    <v-col>
      <MenuCardVue> </MenuCardVue>
    </v-col>
  </v-row>
</template>

<style scoped></style>
