<script setup lang="ts">
import { useMenuStore } from "@/stores/menu";
// import type User from "@/types/User";
const userStore = useMenuStore();
// const deleteUser = (index: number): void => {
//   userStore.deleteUser(index);
// };
// const addNewUser = () => {
//   userStore.dialog = true;
// };
// const editUser = (user: User) => {
//   userStore.editUser(user);
// };
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="6" v-for="item of userStore.menu" :key="item.id">
        <v-card width="250px">
          <v-img :src="item.img" height="200px" cover></v-img>
          <v-card-item>
            <div class="text-center">
              <div class="text-h6 mb-2">{{ item.name }}</div>
              <div class="text-caption">{{ item.price }} Bath</div>
            </div>
          </v-card-item>
          <v-card-actions class="justify-center">
            <v-btn color="error" variant="flat">-</v-btn>
            <v-btn color="success" variant="flat">+</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
